.technology {
  background-image: url('../assets/technology/background-technology-mobile.jpg');
  background-size: cover;
}

.tech-picture img {
  width: 100%;
}

.tech-grid {
  display: grid;
  grid-template-columns: 2em 1fr 2em;
  grid-template-areas:
    '. title .'
    'img img img'
    '. slider .'
    '. content .';
  margin-top: 3rem;
  padding-inline: 0;
  row-gap: 2rem;
}

.tech-grid .page-title {
  grid-area: title;
}
.tech-grid .tech-picture {
  grid-area: img;
}
.tech-grid .circle-slider {
  --flow-space: 1.5rem;
  grid-area: slider;
  justify-content: center;
}
.tech-grid .content {
  grid-area: content;
}

@media only screen and (min-width: 48rem) {
  .technology {
    background-image: url('../assets/technology/background-technology-tablet.jpg');
  }

  .tech-grid {
    row-gap: 3rem;
  }

  .tech-grid .page-title {
    text-align: left;
  }

  .tech-grid .circle-slider {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 65rem) {
  .technology {
    background-image: url('../assets/technology/background-technology-desktop.jpg');
  }

  .tech-grid {
    max-width: 95rem;
    grid-template-columns: minmax(2rem, 0.4fr) auto 1.5fr 1fr;
    grid-template-areas:
      '. title title title'
      '. slider content img';

    align-items: center;
    row-gap: 3rem;
  }

  .tech-grid .circle-slider {
    flex-direction: column;
  }

  .tech-grid .tech-picture {
    padding-left: 3rem;
  }

  .tech-grid .content {
    margin-left: 5rem;
  }
}
